.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: @z-modal;
  backdrop-filter: blur(1px) brightness(98%);
  padding: 100px 16px;
  box-sizing: border-box;

  &__dialog {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 200px);
    width: 100%;
    max-width: 700px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    overflow: hidden; /* pour ne pas que le contenu déborde */
  }

  &__header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--secondary-900);
    color: white;
    border-top-left-radius: @border-radius-m;
    border-top-right-radius: @border-radius-m;
    position: relative;

    /* le titre (slot header) */
    .basic-text,
    h4,
    span,
    div {
      margin: 0;
      color: white;
    }

    /* l’icône de fermeture */
    svg {
      flex-shrink: 0;
      cursor: pointer;
      fill: @white;
      width: 20px;
      height: 20px;
    }
  }

  &__content {
    flex: 1 1 auto; /* occupe l’espace restant */
    overflow-y: auto; /* scroll uniquement ici */
    padding: 12px;
    position: relative;

    svg {
      fill: @neutral-500;
    }
  }

  &__actions {
    flex-shrink: 0;
    padding: 12px 24px 24px 24px;
    border-top: 1px solid #eee;
    background: white;
  }
}

@media (max-height: 700px) {
  .modal {
    padding: 50px 8px;

    &__dialog {
      max-height: calc(100vh - 100px);
    }

    &__header {
      padding: 16px;
    }
  }
}
