:root[data-palette="neo"] {
  --primary-50: #E4F7FF;
  --primary-50-rgb: 228,247,255;
  --primary-100: #C9F0FF;
  --primary-100-rgb: 201,240,255;
  --primary-200: #91E2FF;
  --primary-200-rgb: 145,226,255;
  --primary-300: #52D0FF;
  --primary-300-rgb: 82,208,255;
  --primary-400: #1AB5FF;
  --primary-400-rgb: 26,181,255;
  --primary-500: #0099FF;
  --primary-500-rgb: 0,153,255;
  --primary-600: #0080D1;
  --primary-600-rgb: 0,128,209;
  --primary-700: #0065A6;
  --primary-700-rgb: 0,101,166;
  --primary-800: #004A7A;
  --primary-800-rgb: 0,74,122;
  --primary-900: #002C47;
  --primary-900-rgb: 0,44,71;
}
