:root[data-palette="lab"] {
  --primary-50: #EAFBF6;
  --primary-50-rgb: 234,251,246;
  --primary-100: #CFF6EB;
  --primary-100-rgb: 207,246,235;
  --primary-200: #9AEAD8;
  --primary-200-rgb: 154,234,216;
  --primary-300: #67DCC5;
  --primary-300-rgb: 103,220,197;
  --primary-400: #35CDB1;
  --primary-400-rgb: 53,205,177;
  --primary-500: #00BF9D;
  --primary-500-rgb: 0,191,157;
  --primary-600: #00A387;
  --primary-600-rgb: 0,163,135;
  --primary-700: #008D75;
  --primary-700-rgb: 0,141,117;
  --primary-800: #006A56;
  --primary-800-rgb: 0,106,86;
  --primary-900: #004C3E;
  --primary-900-rgb: 0,76,62;
}
