:root[data-palette="premium"] {
  --primary-50: #F1F5FF;
  --primary-50-rgb: 241,245,255;
  --primary-100: #DBE7FF;
  --primary-100-rgb: 219,231,255;
  --primary-200: #B3CFFF;
  --primary-200-rgb: 179,207,255;
  --primary-300: #80B0FF;
  --primary-300-rgb: 128,176,255;
  --primary-400: #4D91FF;
  --primary-400-rgb: 77,145,255;
  --primary-500: #0067FF;
  --primary-500-rgb: 0,103,255;
  --primary-600: #005BE8;
  --primary-600-rgb: 0,91,232;
  --primary-700: #004BC1;
  --primary-700-rgb: 0,75,193;
  --primary-800: #00358A;
  --primary-800-rgb: 0,53,138;
  --primary-900: #001B47;
  --primary-900-rgb: 0,27,71;
}
