.wrapper {
  position: relative;
  flex: 1;

  &__hint-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    caret-color: transparent;

    ::v-deep(.basic-hint) {
      padding-top: var(--spacing-5);
    }
  }

  &__hint {
    height: 14px;
    margin-top: calc(-var(--spacing-5));
    margin-bottom: var(--spacing-5);
  }

  :deep(.alert--label) {
    padding: 0;
  }

  &__alert--container {
    position: absolute;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
