.input-label {
  color: var(--secondary-100);
  display: flex;
  gap: var(--spacing-5);

  &--unwrap {
    white-space: nowrap;
  }

  &__required {
    position: relative;
    color: @danger-600;
    min-width: 4px;
    span {
      position: absolute;
      top: -4px;
    }
  }

  &__icon {
    max-height: 12px;
    fill: var(--secondary-100);
    cursor: pointer;
    svg {
      fill: var(--secondary-100);
    }
  }
}
