// Primary Button Colors
@primary-filled-default-bg: var(--primary-600);
@primary-filled-default-text: @white;

@primary-filled-hover-bg: var(--primary-700);
@primary-filled-hover-text: @white;

@primary-filled-active-bg: var(--primary-800);
@primary-filled-active-text: @white;

@primary-filled-disabled-bg: @neutral-100;
@primary-filled-disabled-text: @neutral-200;

@primary-outlined-default-bg: @white;
@primary-outlined-default-text: var(--primary-600);

@primary-outlined-hover-bg: var(--primary-600);
@primary-outlined-hover-text: @white;

@primary-outlined-active-bg: var(--primary-800);
@primary-outlined-active-text: var(--primary-50);

@primary-ghosted-default-bg: transparent;
@primary-ghosted-default-text: var(--primary-600);

@primary-ghosted-hover-bg: var(--primary-0);
@primary-ghosted-hover-text: var(--primary-600);

@primary-ghosted-active-bg: var(--primary-100);
@primary-ghosted-active-text: var(--primary-800);

// Reverse Button Colors
@reverse-filled-default-bg: transparent;
@reverse-filled-default-text: var(--primary-600);

@reverse-filled-hover-bg: var(--primary-700);
@reverse-filled-hover-text: @white;

@reverse-filled-active-bg: var(--primary-800);
@reverse-filled-active-text: var(--primary-0);

@reverse-outlined-default-bg: transparent;
@reverse-outlined-default-text: @white;

@reverse-outlined-hover-bg: var(--primary-700);
@reverse-outlined-hover-text: @white;

@reverse-outlined-active-bg: var(--primary-800);
@reverse-outlined-active-text: var(--primary-0);

@reverse-ghosted-default-bg: transparent;
@reverse-ghosted-default-text: @white;

@reverse-ghosted-hover-bg: var(--primary-0);
@reverse-ghosted-hover-text: var(--primary-600);

@reverse-ghosted-active-bg: var(--primary-100);
@reverse-ghosted-active-text: var(--primary-800);

// Secondary Button Colors
@secondary-filled-default-bg: var(--secondary-900);
@secondary-filled-default-text: @white;

@secondary-filled-hover-bg: var(--secondary-950);
@secondary-filled-hover-text: @white;

@secondary-filled-active-bg: var(--secondary-100);
@secondary-filled-active-text: @white;

@secondary-filled-disabled-bg: @neutral-100;
@secondary-filled-disabled-text: @neutral-200;

@secondary-outlined-default-bg: @white;
@secondary-outlined-default-text: var(--secondary-900);

@secondary-outlined-hover-bg: var(--secondary-900);
@secondary-outlined-hover-text: @white;

@secondary-outlined-active-bg: var(--secondary-100);
@secondary-outlined-active-text: @white;

@secondary-ghosted-default-bg: transparent;
@secondary-ghosted-default-text: var(--secondary-800);

@secondary-ghosted-hover-bg: var(--secondary-0);
@secondary-ghosted-hover-text: var(--secondary-800);

@secondary-ghosted-active-bg: var(--secondary-100);
@secondary-ghosted-active-text: var(--secondary-800);

// Danger Button Colors
@danger-filled-default-bg: @danger-600;
@danger-filled-default-text: @white;

@danger-filled-hover-bg: @danger-700;
@danger-filled-hover-text: @white;

@danger-filled-active-bg: @danger-800;
@danger-filled-active-text: @white;

@danger-outlined-default-bg: @white;
@danger-outlined-default-text: @danger-600;

@danger-outlined-hover-bg: @danger-600;
@danger-outlined-hover-text: @white;

@danger-outlined-active-bg: @danger-700;
@danger-outlined-active-text: @white;

@danger-ghosted-default-bg: transparent;
@danger-ghosted-default-text: @danger-600;

@danger-ghosted-hover-bg: @danger-0;
@danger-ghosted-hover-text: @danger-600;

@danger-ghosted-active-bg: @danger-100;
@danger-ghosted-active-text: @danger-600;

// General Disabled Colors
@btn-filled-disabled-bg: @neutral-100;
@btn-filled-disabled-content: @neutral-400;

@btn-outlined-disabled-bg: transparent;
@btn-outlined-disabled-content: @neutral-400;
