@import './base.css';

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer et Edge */

  /* Optionnel : Cacher la scrollbar sur Chrome et Safari */
  &::-webkit-scrollbar {
    display: none; /* Chrome et Safari */
  }
}
