.input-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: @white;
  border: 1px solid @neutral-200;
  border-radius: 6px;
  transition: all 0.2s ease;

  /* --- Champs --- */
  &__field {
    flex: 1;
    display: flex;
    align-items: center;
  }

  /* --- Icônes droites (pile, œil, etc.) --- */
  &__icons-right {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding-right: 6px;
    margin-left: 4px;
  }

  /* --- Icône gauche --- */
  &__icon-left {
    margin-right: 6px;
    margin-left: 4px;
  }

  /* --- Icône delete / close --- */
  &__icon-delete {
    margin: 0 4px;
  }

  /* --- Hover / Focus / Disabled --- */
  &:not(.input-container--disabled, .input-container--readonly):hover {
    border-color: var(--primary-600);
  }

  &:not(
      .input-container--error,
      .input-container--success,
      .input-container--disabled,
      .input-container--readonly
    ):focus-within {
    box-shadow: @focus-global;
    border-color: var(--primary-600);
  }

  &--disabled,
  &--readonly {
    cursor: default;
    opacity: 0.9;
    border: 1px @neutral-200 solid;

    svg {
      fill: @neutral-400;
      background: @neutral-100;
      pointer-events: none;
    }
  }

  &--disabled {
    background-color: @neutral-100;
  }

  &--readonly {
    background-color: @neutral-0;
  }

  &--large {
    padding: 10px;
  }

  &--medium {
    padding: 6px;
  }

  &--small {
    padding: 3px;
  }

  &--table {
    flex: 1;

    :deep(.alert__icon) {
      transform: scale(0.7) !important;
    }
  }
}
