/* === Sizes === */
.body-xl {
  font-size: @font-size-body-xl;
}
.body-l {
  font-size: @font-size-body-l;
}
.body-m {
  font-size: @font-size-body-m;
}
.body-s {
  font-size: @font-size-body-s;
}

/* === Weights === */
.light {
  font-weight: @font-weight-light;
}
.regular {
  font-weight: @font-weight-regular;
}
.semibold {
  font-weight: @font-weight-semibold;
}
.bold {
  font-weight: @font-weight-bold;
}

strong {
  font-weight: @font-weight-semibold;
}

/* === Styles === */
.italic {
  font-style: italic;
}
.normal {
  font-style: normal;
}

/* === Text Wrapping & Clamp === */
.text {
  &--wrap {
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--wrapAll {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow-wrap: break-word;
  }

  &--pointer {
    cursor: pointer;
  }

  &--nbMaxLines-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  &--nbMaxLines-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  /* === COLORS === */

  /* Primary */
  &-color--primary-950 {
    color: var(--primary-950);
  }
  &-color--primary-900 {
    color: var(--primary-900);
  }
  &-color--primary-800 {
    color: var(--primary-800);
  }
  &-color--primary-700 {
    color: var(--primary-700);
  }
  &-color--primary-600 {
    color: var(--primary-600);
  }
  &-color--primary-500 {
    color: var(--primary-500);
  }
  &-color--primary-400 {
    color: var(--primary-400);
  }
  &-color--primary-300 {
    color: var(--primary-300);
  }
  &-color--primary-200 {
    color: var(--primary-200);
  }
  &-color--primary-100 {
    color: var(--primary-100);
  }
  &-color--primary-50 {
    color: var(--primary-50);
  }

  /* Secondary */
  &-color--secondary-1000 {
    color: var(--secondary-100);
  }
  &-color--secondary-950 {
    color: var(--secondary-950);
  }
  &-color--secondary-900 {
    color: var(--secondary-900);
  }
  &-color--secondary-800 {
    color: var(--secondary-800);
  }
  &-color--secondary-700 {
    color: var(--secondary-700);
  }
  &-color--secondary-600 {
    color: var(--secondary-600);
  }
  &-color--secondary-500 {
    color: var(--secondary-500);
  }
  &-color--secondary-400 {
    color: var(--secondary-400);
  }
  &-color--secondary-300 {
    color: var(--secondary-300);
  }
  &-color--secondary-200 {
    color: var(--secondary-200);
  }
  &-color--secondary-100 {
    color: var(--secondary-100);
  }
  &-color--secondary-50 {
    color: var(--secondary-50);
  }

  /* Neutral */
  &-color--neutral-950 {
    color: @neutral-950;
  }
  &-color--neutral-900 {
    color: @neutral-900;
  }
  &-color--neutral-800 {
    color: @neutral-800;
  }
  &-color--neutral-700 {
    color: @neutral-700;
  }
  &-color--neutral-600 {
    color: @neutral-600;
  }
  &-color--neutral-500 {
    color: @neutral-500;
  }
  &-color--neutral-400 {
    color: @neutral-400;
  }
  &-color--neutral-300 {
    color: @neutral-300;
  }
  &-color--neutral-200 {
    color: @neutral-200;
  }
  &-color--neutral-100 {
    color: @neutral-100;
  }
  &-color--neutral-50 {
    color: @neutral-50;
  }
  &-color--neutral-0 {
    color: @neutral-0;
  }

  /* Success */
  &-color--success-900 {
    color: @success-900;
  }
  &-color--success-800 {
    color: @success-800;
  }
  &-color--success-700 {
    color: @success-700;
  }
  &-color--success-600 {
    color: @success-600;
  }
  &-color--success-500 {
    color: @success-500;
  }
  &-color--success-400 {
    color: @success-400;
  }
  &-color--success-300 {
    color: @success-300;
  }
  &-color--success-200 {
    color: @success-200;
  }
  &-color--success-100 {
    color: @success-100;
  }
  &-color--success-50 {
    color: @success-50;
  }

  /* Warning */
  &-color--warning-900 {
    color: @warning-900;
  }
  &-color--warning-800 {
    color: @warning-800;
  }
  &-color--warning-700 {
    color: @warning-700;
  }
  &-color--warning-600 {
    color: @warning-600;
  }
  &-color--warning-500 {
    color: @warning-500;
  }
  &-color--warning-400 {
    color: @warning-400;
  }
  &-color--warning-300 {
    color: @warning-300;
  }
  &-color--warning-200 {
    color: @warning-200;
  }
  &-color--warning-100 {
    color: @warning-100;
  }
  &-color--warning-50 {
    color: @warning-50;
  }

  /* Info */
  &-color--info-950 {
    color: @info-950;
  }
  &-color--info-900 {
    color: @info-900;
  }
  &-color--info-800 {
    color: @info-800;
  }
  &-color--info-700 {
    color: @info-700;
  }
  &-color--info-600 {
    color: @info-600;
  }
  &-color--info-500 {
    color: @info-500;
  }
  &-color--info-400 {
    color: @info-400;
  }
  &-color--info-300 {
    color: @info-300;
  }
  &-color--info-200 {
    color: @info-200;
  }
  &-color--info-100 {
    color: @info-100;
  }
  &-color--info-50 {
    color: @info-50;
  }

  /* Danger */
  &-color--danger-900 {
    color: @danger-900;
  }
  &-color--danger-800 {
    color: @danger-800;
  }
  &-color--danger-700 {
    color: @danger-700;
  }
  &-color--danger-600 {
    color: @danger-600;
  }
  &-color--danger-500 {
    color: @danger-500;
  }
  &-color--danger-400 {
    color: @danger-400;
  }
  &-color--danger-300 {
    color: @danger-300;
  }
  &-color--danger-200 {
    color: @danger-200;
  }
  &-color--danger-100 {
    color: @danger-100;
  }
  &-color--danger-50 {
    color: @danger-50;
  }

  /* Pink */
  &-color--pink-950 {
    color: @pink-950;
  }
  &-color--pink-900 {
    color: @pink-900;
  }
  &-color--pink-800 {
    color: @pink-800;
  }
  &-color--pink-700 {
    color: @pink-700;
  }
  &-color--pink-600 {
    color: @pink-600;
  }
  &-color--pink-500 {
    color: @pink-500;
  }
  &-color--pink-400 {
    color: @pink-400;
  }
  &-color--pink-300 {
    color: @pink-300;
  }
  &-color--pink-200 {
    color: @pink-200;
  }
  &-color--pink-100 {
    color: @pink-100;
  }
  &-color--pink-50 {
    color: @pink-50;
  }

  /* Orange */
  &-color--orange-900 {
    color: @orange-900;
  }
  &-color--orange-800 {
    color: @orange-800;
  }
  &-color--orange-700 {
    color: @orange-700;
  }
  &-color--orange-600 {
    color: @orange-600;
  }
  &-color--orange-500 {
    color: @orange-500;
  }
  &-color--orange-400 {
    color: @orange-400;
  }
  &-color--orange-300 {
    color: @orange-300;
  }
  &-color--orange-200 {
    color: @orange-200;
  }
  &-color--orange-100 {
    color: @orange-100;
  }
  &-color--orange-50 {
    color: @orange-50;
  }

  /* Yellow */
  &-color--yellow-900 {
    color: @yellow-900;
  }
  &-color--yellow-800 {
    color: @yellow-800;
  }
  &-color--yellow-700 {
    color: @yellow-700;
  }
  &-color--yellow-600 {
    color: @yellow-600;
  }
  &-color--yellow-500 {
    color: @yellow-500;
  }
  &-color--yellow-400 {
    color: @yellow-400;
  }
  &-color--yellow-300 {
    color: @yellow-300;
  }
  &-color--yellow-200 {
    color: @yellow-200;
  }
  &-color--yellow-100 {
    color: @yellow-100;
  }
  &-color--yellow-50 {
    color: @yellow-50;
  }

  /* Misc */
  &-color--dark-jungle-green {
    color: @dark-jungle-green;
  }
  &-color--white {
    color: @white;
  }
  &-color--black {
    color: @black;
  }
  &-color--red {
    color: @danger-600;
  }
}
